.title {
	text-align: center;
	font-family: Raleway;
	color: #34495e;
}

.container {
	display: flex;
	justify-content: center;
}

div .image-container {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 220px;
	max-width: 310px;
	width: 100%;
	background: #000000;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div .image-container * {
	box-sizing: border-box;
}

.image-container img {
	max-width: 100%;
	vertical-align: top;
	height: 210px;
}

div.item a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}

div .image-container i {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	font-size: 34px;
	color: #000000;
	width: 60px;
	height: 60px;
	line-height: 60px;
	background: #ffffff;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

div #red {
	background-color: red;
}

div #blue {
	background-color: blue;
}

div #green {
	background-color: green;
}

div .image-container * {
	transition: all .35s ease-in-out;
}

div .image-container:hover {
	cursor: pointer;
}

div .image-container:hover img {
	opacity: .5;
	filter: grayscale(100%);
}

div .image-container:hover i {
	z-index: 10;
	animation: ease-in;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

